*{
    box-sizing: border-box;
}
body{
    width:100%;
}
/* .contPrincipal{
    background-image: linear-gradient(to bottom, #475DA7, #5383BA, white);
    display: grid;
    gap: 10px;
    padding: 5%;
    width: 100%;
    height: auto;
} */
.carac{
    background-color: white;
    border: 1px solid blue;
    border-radius: 0.5rem;
    padding: auto;
}
.carac h2{
    font-size: 2rem;
    text-align: center;
}
/* .contPrincipal .iconify{
    height: 40%;
    width: auto;
    padding-left: 38%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
} */
.container .iconify{
    height: 20%;
    width: auto;
    /* padding-left: 40%; */
}
.carac p{
    font-size: 1.5rem;
    text-align: center;
}

/* @media only screen and (min-width:700px) and (max-width:949px) {
    .contPrincipal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,200px);
    }
} */
/* 
@media only screen and (min-width:950px) {
    .contPrincipal{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,200px);
    }
    .contPrincipal .iconify{
        height: 40%;
        width: auto;
        padding-left: 40%;
    }
} */
