/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    width:100%;
}
.imgPlato{
    max-width: 100%;
    height: auto;
}
.jumbotron{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}
.jumbotron span{
    color: #F8CC2F;
}
.jumbotron h1{
    font-weight:700;
    margin-bottom: 4%;
}
.jumbotron h3{
    font-weight:600;
}
.jumbotron p{
    font-weight: 500;
}
.jumbotron button{
    margin-right: 5%;
    font-weight: 600;
    margin-top: 4%;;
}
.btn-azul{
    background-color: #475DA7;
    color: white;
}
.btn-blanco{
    border: 2px solid #475DA7;
    color:#475DA7;
}
.divButton{
    width: auto;
}
.btn-amarillo{
    border: 2px solid #F6D42E;
    border-radius: 10px;
    width: 8rem;
    margin-bottom: 10%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.divProductos{
    width: 100%;
    margin-top: 4%;
    font-family: 'Raleway', sans-serif;
}
.divProductos h2{
    align-content: center;
    margin-bottom: 3%;
    font-weight: 600;
}
.fa-cart-plus{
    font-size:1.5rem;
    padding: auto;
}
.card{
    margin-top:5%;
}
.card h4{
    font-weight: 600;;
}
.card h5{
    font-family: arial,sans-serif;
}
.divProductos2{
    margin-bottom: 4%;
}
 */
