/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap'); */

/* *{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    color:inherit;
}
header{
    z-index:999;
} */

/* .imgLogo{
    height: 100%;
    width: 5rem;
}
.navbar ul{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}
.navbar ul a:hover{
    color:#475DA7;
}
.navbar ul a i:hover{
    color: white;
}
.navbar-toggler{
    border-color: grey;
    stroke: #475DA7;
}
.btn-azul{
    background-color: #475DA7;
    color: white;
}
.fa-cart-plus{
    font-size:1.5rem;
    padding: auto;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='grey' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */
