.contPrincipal img{
    display: grid;
    width: 300px;
    height:auto;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 20px;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    transform: rotate(50deg);
}

@media only screen and (min-width: 660px){
    .contPrincipal img{
        width: 500px;
        padding: 4rem;
        margin-bottom: 3rem;
    }
}