.contPrincipal img{
    margin-top: 20%;
    display: grid;
    width: 220px;
    height:auto;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 20px;
    margin-left: 3rem;
    margin-bottom: 20%;
    transform: rotate(50deg);
}
.contPrincipal{
    z-index: 1;
}

@media only screen and (min-width: 660px){
    .contPrincipal img{
        margin-top: 0;
        width: 500px;
        padding: 4rem;
        margin-bottom: 3rem;
    }
}