@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    color:inherit;
}
header{
    z-index:999;
}
/* .navbar{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
} */
/* .divLogo{
    margin-left: 1rem;
    width:auto
} */
.imgLogo{
    height: 100%;
    width: 4rem;
}
/* .listPagesNavBar{
    width: 90%;
    display: grid;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    grid-template-columns: auto 20%;
} */
.listPagesNavBar ul{
    font-size: 0.9rem;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
/* .listPagesNavBar .ulNavBar a{
    text-decoration: none;
    padding-right: 0.6rem;
    flex-wrap: wrap;
} */

.linkShoppingCart{
    background-color: #475DA7;
    border-radius: 0.5rem;
    margin-left: 1rem;
    display: inline-block;
    /* margin-right: 1rem; */
    height: 2rem;
    width: 2rem;
    /* display: block; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.linkShoppingCart .iconify{
    height: 1.2rem;
    width: 1.2rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: #475DA7;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 1.5rem;
}
.divLeft{
    width: 32%;
}

.FooterLeftListUl{
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color:white;
}
.divLeft a{
    text-decoration: none;
}
.divLeft li{
    padding-top: 0.2rem;
}
.divMiddle{
    margin-right: 2rem;
    margin-left: 2rem;
    width: 36%;
    font-family: 'Raleway', sans-serif;
    color:white;
    justify-content: center;
}
.divMiddle .redesSociales{
    padding-top: 1rem;
}

.divMiddle .iconify{
    height: 1.2rem;
    width: 1.2rem;
}
.divMiddle h3{
    font-weight: 700;
    font-size: 1.2rem;
}
.divRight{
    width: 32%;
}
.FooterRightListUl{
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color:white;
}
.divRight a{
    text-decoration: none;
}
.divRight li{
    padding-top: 0.2rem;
}
/* @media only screen and (min-width:723px) and (max-width:809px) {
    .navbar{
        height: 6.563rem;
    }

    .divLogo{
        margin-left: 1.563rem;
        width:10%
    }
    .divLogo .imgLogo{
        width: 7rem;
    }

    .listPagesNavBar{
        display: flex;
    }
    .listPagesNavBar ul{
        font-size: 1.5rem;
        display: flex;
    }
    .listPagesNavBar .ulNavBar a{
        padding-right: 1rem;
    }
    .linkShoppingCart{
        margin-right: 1.563rem;
        height: 3.125rem;
        width: 3.125rem;
    }
    .linkShoppingCart .iconify{
        height: 1.875rem;
        width: 1.875rem;
        margin: 0.625rem;
    }
} */
/* @media only screen and (min-width:810px) and (max-width:999px) {
    .navbar{
        height: 6.563rem;
    }
    .divLogo{
        margin-left: 1.563rem;
        width:10%
    }
    .divLogo .imgLogo{
        width: 7rem;
    }

    .listPagesNavBar{
        display: flex;
    }
    .listPagesNavBar ul{
        font-size: 1.5rem;
        display: flex;
    }
    .listPagesNavBar .ulNavBar a{
        padding-right: 2.5rem;
    }
    .linkShoppingCart{
        margin-right: 1.563rem;
        height: 3.125rem;
        width: 3.125rem;
    }
    .linkShoppingCart .iconify{
        height: 1.875rem;
        width: 1.875rem;
        margin: 0.625rem;
    }
} */
@media only screen and (min-width:1000px) {
    /* .navbar{
        height: 6.563rem;
    }

    .divLogo{
        margin-left: 1.563rem;
        width:10%
    }
    .divLogo .imgLogo{
        width: 7rem;
    }
    .listPagesNavBar{
        display: flex;
    }
    .listPagesNavBar ul{
        font-size: 1.5rem;
        display: flex;
    }
    .listPagesNavBar .ulNavBar a{
        padding-right: 2.5rem;
    }
    .linkShoppingCart{
        margin-right: 1.563rem;
        height: 3.125rem;
        width: 3.125rem;
    }
    .linkShoppingCart .iconify{
        height: 1.875rem;
        width: 1.875rem;
        margin: 0.625rem;
    } */
    /*--------------------fin navbar---------------------------*/
    /*--------------------Inicio Footer---------------------------*/
    .footer{
        height: 16.75rem;
        padding-top: 4rem;
    }
    .divLeft{
        padding-left: 9rem;
    }
    .FooterLeftListUl{
        font-size: 1.5rem;
    }

    .divMiddle{
        margin-right: 8rem;
        margin-left: 8rem;
    } 
    .divMiddle .redesSociales{
        margin-top: 2rem;
        margin-left: 3.5rem;
    }
    .divMiddle .redesSociales a{
        margin-right: 3rem;
    }
    .divMiddle .iconify{
        height: 2rem;
        width: 2rem;
    }
    .divMiddle h3{
        font-size: 1.875rem;
    }
    .divRight{
        margin-left: 8rem;
    }
    .FooterRightListUl{
        font-size: 1.5rem;
    }
}