@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    color:inherit;
}
header{
    z-index:999;
}

.imgLogo{
    height: 100%;
    width: 5rem;
}
.navbar ul{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}
.navbar ul a:hover{
    color:#475DA7;
}
.navbar ul a i:hover{
    color: white;
}

.footer{
    background-color: #475DA7;
    color: white;
    /* display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 1.5rem; */
}