/* 
.btn-azul{
    background-color: #475DA7;
    color: white;
}
.divButton{
    width: auto;
}
.btn-amarillo{
    border: 2px solid #F6D42E;
    border-radius: 10px;
    width: 8rem;
    margin-bottom: 10%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.divProductos{
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
.divProductos h2{
    align-content: center;
    margin-bottom: 3%;
    font-weight: 600;
}
.fa-cart-plus{
    font-size:1.5rem;
    padding: auto;
}
.card{
    margin-top:5%;
}
.card h4{
    font-weight: 600;;
}
.card h5{
    font-family: arial,sans-serif;
}
.divProductos2{
    margin-bottom: 4%;
    margin-top: 4%;
} */