*{
    box-sizing: border-box;
}
body{
    width:100%;
}
.contPrincipal{
    background-color: rgb(65, 128, 211);
    /* grid-template-areas: "carac1" "carac2" "carac3" 
    "carac4" "carac5"; */
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 12rem); */
    gap: 10px;
    padding: 5%;
    width: 100%;
    height: auto;
}
.carac{
    background-color: white;
    border: 1px solid blue;
    border-radius: 0.5rem;
    min-height: 200px;  
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.carac h2{
    font-size: 2rem;
    text-align: center;
}
.contPrincipal .iconify{
    height: 40%;
    width: auto;
    padding-left: 38%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.carac p{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media only screen and (min-width:700px) and (max-width:949px) {
    .contPrincipal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,200px);
    }
}

@media only screen and (min-width:950px) {
    .contPrincipal{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,200px);
    }
    .contPrincipal .iconify{
        height: 40%;
        width: auto;
        padding-left: 40%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
