//import de bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//elementos necesarios generales para todas las paginas
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    color:inherit;
}

//import de elementos que tienen todas las paginas
@import "./componentesSASS/footer.scss";
@import "./componentesSASS/navbar.scss";

//import de componentes que tienen comunes varias paginas
@import "./componentesSASS/compProductos.scss";
@import "./componentesSASS/buttons.scss";

//import de cada pagina
@import "./estilosPaginas/estilosIndex.scss";
@import "./estilosPaginas/estilosContactenos.scss";
@import "./estilosPaginas/estilosProductos.scss";
@import "./estilosPaginas/estilosPerfil.scss";
@import "./estilosPaginas/estilosCarrito.scss";


