.navbar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.divLogo {
  margin-left: 1rem;
  width: auto;
}

.divLogo .imgLogo {
  height: 100%;
  width: 4rem;
}

.listPagesNavBar {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: auto 20%;
      grid-template-columns: auto 20%;
}

.listPagesNavBar ul {
  font-size: 0.9rem;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.listPagesNavBar .ulNavBar a {
  text-decoration: none;
  padding-right: 0.6rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linkShoppingCart {
  background-color: #475DA7;
  border-radius: 0.5rem;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  display: block;
}

.linkShoppingCart .iconify {
  height: 1.2rem;
  width: 1.2rem;
  color: white;
  margin: 0.4rem;
}

@media only screen and (min-width: 723px) and (max-width: 809px) {
  .navbar {
    height: 6.563rem;
  }
  /*logo de la barra de navegacion*/
  .divLogo {
    margin-left: 1.563rem;
    width: 10%;
  }
  .divLogo .imgLogo {
    width: 7rem;
  }
  /*Lista de la barra de navegacion con shopping cart*/
  .listPagesNavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .listPagesNavBar ul {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .listPagesNavBar .ulNavBar a {
    padding-right: 1rem;
  }
  .linkShoppingCart {
    margin-right: 1.563rem;
    height: 3.125rem;
    width: 3.125rem;
  }
  .linkShoppingCart .iconify {
    height: 1.875rem;
    width: 1.875rem;
    margin: 0.625rem;
  }
}

@media only screen and (min-width: 810px) and (max-width: 999px) {
  .navbar {
    height: 6.563rem;
  }
  /*logo de la barra de navegacion*/
  .divLogo {
    margin-left: 1.563rem;
    width: 10%;
  }
  .divLogo .imgLogo {
    width: 7rem;
  }
  /*Lista de la barra de navegacion con shopping cart*/
  .listPagesNavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .listPagesNavBar ul {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .listPagesNavBar .ulNavBar a {
    padding-right: 2.5rem;
  }
  .linkShoppingCart {
    margin-right: 1.563rem;
    height: 3.125rem;
    width: 3.125rem;
  }
  .linkShoppingCart .iconify {
    height: 1.875rem;
    width: 1.875rem;
    margin: 0.625rem;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar {
    height: 6.563rem;
  }
  /*logo de la barra de navegacion*/
  .divLogo {
    margin-left: 1.563rem;
    width: 10%;
  }
  .divLogo .imgLogo {
    width: 7rem;
  }
  /*Lista de la barra de navegacion con shopping cart*/
  .listPagesNavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .listPagesNavBar ul {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .listPagesNavBar .ulNavBar a {
    padding-right: 2.5rem;
  }
  .linkShoppingCart {
    margin-right: 1.563rem;
    height: 3.125rem;
    width: 3.125rem;
  }
  .linkShoppingCart .iconify {
    height: 1.875rem;
    width: 1.875rem;
    margin: 0.625rem;
  }
}
/*# sourceMappingURL=navbar.css.map */