@import "../componentesSASS/variables.scss";

.tituloContactenos{
    margin-left: $margin3;
    margin-right: $margin3;
}
.contContactenos {
    h1,h2,h4,h5,h6{
    font-family: $fontPrincipal;
    text-align: center;
    }
    h1,h2{
        font-weight: $fontSemiBold;
        margin-top: $margin3;
        margin-bottom: $margin1;
    }
    h4,h5{
        font-weight: $fontWeightPrincipal;
        margin-bottom: $margin3;
    }
    h6{
        font-weight: $fontWeightPrincipal;
    }
    .card {
        margin-top: $margin3;
        i{
            margin-top: $margin3;
            font-size:4rem;
        }
        span{
            color: map-get($map: $colors, $key: "secondary");
        }
    }
}
.buttonSubmit{
    margin-bottom: 2rem;
    background-color: map-get($map: $colors, $key: "primary");
    color: map-get($map: $colors, $key: "white");
}

