@import "variables.scss";

.navbar{
    .imgLogo{
        height: $porciento100;
        width: 5rem;
    }
    ul{
        font-family: $fontPrincipal;
        font-weight: $fontSemiBold;
        font-size: 1.4rem;

        a:hover{
            color:map-get($map: $colors, $key: "primary");

            i:hover{
                color: map-get($map: $colors, $key: "white");
            }
        }
    }
    .navbar-toggler{
        border-color: grey;
        stroke: map-get($map: $colors, $key: "primary");
    }
    .btn-azul{
        background-color: map-get($map: $colors, $key: "primary");
        color: map-get($map: $colors, $key: "white");
    }
    .fa-cart-plus{
        font-size:1.5rem;
        padding: auto;
    }
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='grey' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}